body{
    background: rgb(10, 212, 226, 0.945);
    
}
h1 {
    text-align: center;
    font-size: 20px;

}
p {
text-align: center;
font-size: 18px;

}
em strong {

    color: rgb(248, 39, 144);
}

p {
    text-align: center;
    font-size: 18px;
    color: rgb(247, 83, 19);

}
em strong {
    color: rgb(32, 35, 240);
    text-align: center ;
    font-size: 18px;
}
